extends layout

block content
  h1= title

  form(method="POST" action="")
    div.form-group
      label(for="book") Книга:
      select#book.form-control(name="book" required)
        each book in book_list
          if book._id.toString() == selected_book
            option(value=book._id selected) #{book.title}
          else
            option(value=book._id) #{book.title}

    div.form-group
      label(for="imprint") Видавництво:
      input#imprint.form-control(type="text", name="imprint", required value=(bookinstance ? bookinstance.imprint : ''))

    div.form-group
      label(for="status") Статус:
      select#status.form-control(name="status")
        - const statuses = ['Maintenance', 'Available', 'Loaned', 'Reserved']
        each status in statuses
          if bookinstance && bookinstance.status == status
            option(value=status selected)= status
          else
            option(value=status)= status

    div.form-group
      label(for="due_back") Дата повернення:
      input#due_back.form-control(type="date", name="due_back", value=(bookinstance && bookinstance.due_back ? bookinstance.due_back.toISOString().split('T')[0] : ''))

    button.btn.btn-primary(type="submit") Створити